#hero,
#skills,
#contact {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hero {
    position: relative;
    height: 640px;
    overflow: hidden;
}
#contact {
    background-image: linear-gradient(rgba($secondary_color, .8), rgba($secondary_color, .94)), url(https://images.pexels.com/photos/261628/pexels-photo-261628.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);    
}

.call-action-primary {
    color: $white_color_2;
}