#hero,
#skills,
#contact {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .4)), url(https://images.pexels.com/photos/34088/pexels-photo.jpg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb);    
}
#skills {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .5)), url(https://images.pexels.com/photos/248515/pexels-photo-248515.png?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);    
}
#contact {
    background-image: url(https://images.pexels.com/photos/261628/pexels-photo-261628.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);    
}