.main-footer {
    padding: 3rem 0;
}
.social-link-group {
    a {
        color: $white_color_2;
        transition: all 0.4s ease-in;
        
        &:not(:last-child) {
            margin-right: 2.5rem;
        }

        &:hover {
            color: $primary_color;
        }
    }
    
}