.navbar-brand {
        font-weight: 600;
    }

.navbar-dark {

    .navbar-nav {
        .nav-link {
            color: rgba($white_color_2, .8);
            font-size: 1.125rem;
            border-bottom: 2px solid transparent;
            transition: all .4s ease-in;
    
            &:focus,
            &:hover, 
            &:active {
                color: $primary_color;
                border-bottom: 2px solid $primary_color;
            }
        }
    }
}
// Sticky Navigation with backgraound Effect when scrolling page
.navbar {
    padding: 1.375rem 0;
    background: transparent;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    border-bottom: 1px solid rgba($primary_color, .4);    
}
.nav-sticky {
    padding: .75rem;
    background-color: rgba($primary_color, .94) !important;

    .navbar-nav {
        .nav-link {
            color: #ffffff;
            &:focus,
            &:hover, 
            &:active {
                color: $white_color_2;
                border-bottom: 2px solid $white_color_2;
            }
        }
    }
}