.navbar-brand {
        font-weight: 600;
    }
// Sticky Navigation with backgraound Effect when scrolling page
.navbar {
    padding: 1.375rem 0;
    background: transparent;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    border-bottom: 1px solid rgba($white_color_1, .4);    
}
.nav-sticky {
    padding: .75rem;
    background-color: rgba($primary_color, .96) !important;
    box-shadow: 0px 2px 4px rgba($primary_color, .06);
}