.section-contact {
  color: $white_color_2;

  .social-link-group {
    a {
        font-size: 1.375rem;
        
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
        .fa-facebook-f {
          color: #3b5998;
        }
        .fa-twitter {
          color: #00aced;
        }
        .fa-google-plus-g {
          color: #dd4b39;
        }
        .fa-github {
          color: #4078c0;
        }
        .fa-linkedin-in {
          color: #0077b5;
        }
        
    }

    /* Hover Effect */
    .fa-facebook-f:hover,
    .fa-twitter:hover,
    .fa-linkedin-in:hover,
    .fa-github:hover {
      color: $white_color_2;
      transform: translateY(-10px);
    }

    }

    
}
