#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .4)), url(https://images.pexels.com/photos/34088/pexels-photo.jpg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section-contact {
  color: $white_color_2;
  
  h2 {
    color: $white_color_2;
  }

  .contact-form {
    color: $primary_dark_color;
    background-color: $white_color_2;
    padding: 1.25rem;
    border-radius: 4px;
    border: 4px dashed $primary_color;
  }
}
