.section-hero {
    
    &--content {
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        height: 600px;
        // color: white;
        text-align: center;

        h1 {
            @media (min-width: 768px) {
            font-size: 3.875rem;   
            font-weight: 700;   
            }
            color: $dark;
            font-weight: 400;
        }
        
        p {
            font-size: 1.125rem;
            letter-spacing: 0.125rem;

            @media (min-width: 540px) {
                font-weight: 400;
                margin-bottom: 3.75rem;            
            }
        }
    }
    .btn-outline-primary {
        transition: all .1s ease-in-out;
        &:hover {
          color: #fff !important;
        }
      }
}