.section-hero {

    background-image: linear-gradient(to bottom, $primary_color 0%, #fff 100%);
    
    &--content {
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        height: 600px;
        // color: white;
        text-align: center;

        h1 {
            font-family: 'Roboto Condensed', sans-serif;             
            font-size: 3rem; 
            font-weight: 400;
            letter-spacing: 2px; 
            line-height: 1.1; 
            text-transform: uppercase; 
            text-shadow: 2px 2px 2px $white_color_1;

            @media (min-width: 768px) {
            font-size: 4.5rem;   
            font-weight: 700;   
            }
            color: $dark;
        }
        
        p {
            font-size: 1.125rem;
            letter-spacing: 0.125rem;
            text-shadow: 2px 2px 2px $white_color_1;

            @media (min-width: 540px) {
                font-weight: 400;
                margin-bottom: 3.75rem;            
            }
        }
    }
    .btn-primary {
        color: #fff !important;
      }
}