.section-projects {
    text-align: center;
    @media (min-width: 540px) {
        text-align: inherit;
    }
    p {
        margin-top: 1.75rem;
    }

    .project-grid {
        padding: 3rem 0;

        .btn-group a:not(:last-child) {
            margin-right: 10px;
        }

        .btn-group {
            margin-top: 2.1875rem;
        }
    }

    .project-stack {
        font-weight: 400;
        font-style: italic;
    }

    .project-title {
        font-size: 1.75rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project-single {
        padding: 60px 0;
    }
}

#projects {
    padding-bottom: 0;
}
