  .col-project {
      padding: 0 0.75rem;
  }

  .project-item {
    position: relative;
    color: #fff;

    figure {
        margin: 0;
    }
    &-thumbnail {

        img {
            display: block;
            width: 100%;
        }
    }

    &-hover {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        color: #fff;
        background-color: rgba($primary_color, 0.92);
        -webkit-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

    &-info {
        position: absolute;
        top: 50%;
        left: 20px;
        opacity: 0;
        width: 100%;
        padding: 0 2em;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

    &-cat {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.375em;
        letter-spacing: 0.1em;
    }

    &-title {
        font-size: 1.2em;
    }

    &:hover .project-item-hover,
    &:hover .project-item-info {
        opacity: 1;
        left: 0;
    }
}

.project-home {
    color: $white_color_1;
    position: relative;
    height: 360px;
    width: 100%;
    padding-top: 160px;
    background-image: linear-gradient(rgba($secondary_color, .8), rgba($secondary_color, .4)), url('../../assets/images/Projects/smart-brain.png');
    background-position: right;
    background-size: cover;
    background-attachment: fixed;

}