.services {

    .card {
        transition: all 0.4s ease-in;
        cursor: pointer;
        
        &:hover {
            color: #fff;
            background-color: transparent;
            border-color: $primary_color;
            box-shadow: 0 0 10px $primary_color;
            transform: translateY(-5px);
        }
    }
}