.section-skills {

    color: $white_color_2;
    
    .skill-list {
        cursor: pointer;
        
        span {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            .svg-inline--fa {
                transition: all .2s;
                transform: scale(1.08);

                &:hover {
                    transform: scale(1.5) translateY(-0.5rem);
                }
            }
        }
    }
}

/* Tech Brand Colors */
.fa-html5 {
    color: #e34f26;
}
.fa-css3 {
    color: #1572b6;
}
.fa-js {
    color:#f0db4f;
}
.fa-php {
    color: #8892be;
}
.fa-node-js {
    color: #6cc24a;
}
.fa-react {
    color: #00d8ff;
}
.fa-github {
    color: #4078c0;
}
.fa-wordpress {
    color: #21759b;
}

