.form {
    
    &__group {
        margin-bottom: .7rem;
    }
    
    &__input {
        font-size: 1.125rem;
        font-family: inherit;
        color: $white_color_1;
        padding: .5rem 1.375rem;
        border-radius: 2px;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid rgba($primary_dark_color, .1);
        display: block;

        &:focus {
            outline: none;
            border-bottom: 2px solid $primary_color;
        }

        &:focus:invalid {
            border-bottom: 2px solid $danger;
        }
        
        &::-webkit-input-placeholder {
            color: $primary_dark_color;
        }
    }
      
    &__label {
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label { // sibling selctor 
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
        }
    }

    .contact-form {
        textarea {
            font-size: 1.125rem;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid rgba($primary_dark_color, .1);
            padding-left: 2rem;
            &:focus {
                outline: transparent;
                border-bottom: 2px solid $primary_color;
                box-shadow: none;
            }
            &:focus:invalid {
                outline: none;
                border-bottom: 2px solid $danger;
            }
        }
    }

    // Bootstrap override 
    .form-control {

        &:focus {
            color: $white_color_1;
            background-color: transparent;
            box-shadow: none;
        }
    }